.logo {
    justify-content: center;
    display: flex;
}

.logo img {
    width: 30%;
}

.about {
    text-align: center;
    color: rgb(136, 136, 136);
    font-family: 'Mandali', sans-serif;
    margin: 0 22% 0 22%;
    font-size: 13px;
}

.login-container {
    justify-content: center;
    display: flex;
}

.login {
    font-family: 'Mandali', sans-serif;
    margin: 3% 0 2% 0;
    font-size: 30px;
    text-align: center;
}

.labels {
    font-family: 'Mandali', sans-serif;
    font-size: 15px;
}

.labels-container {
    margin: 0 0 5px;
}

.error {
    color: rgba(255, 51, 0, 0.625);
    margin-top: 1px;
    font-size: 10px;
}
